/* ------------ Base ----------------  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  word-wrap: break-word;
}

h1, h2,
h3, h4,
h5, h6 {
  margin: 0;
}

main {
  background-color: #fff;
  height: 100%;
}

nav {
  background-color: #171717;
  height: 7rem;
}

table {
  border-collapse: collapse;
}

.title {
  font-size: 40px;
  margin-left: 1rem;
  padding: 35px 0;
}


/* ------------ Layout --------------  */



.l-articles {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  margin: 1rem;
}

.l-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.l-portrait {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "icon info"
  ". .";

  height: 180px;
}

.l-portrait img {
  grid-area: icon;
  width: 40%;
}

.l-portrait .info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: info;
  margin: 10px 0 0 25%;
  text-align: center;
  width: 70%;
}


/* ------------ Modules --------------  */

.m-article {
  background-color: white;
-webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
}

.m-article-content {
  line-height: 2rem;
  margin: 1rem 0 1rem 1rem;
}

.m-article-content h3 {
  padding: 20px 0 5px;
  line-height: 0;
}

.m-article-content h4 {
  font-size: 14px;
  font-weight: 400;
  height: 20px;

}

.m-article-content time {
  font-size: 14px;
}

.m-hot-btns {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  list-style: none;
  width: 80%;
}

.m-hot-btns i {
  font-size: 16px;
  color: #ff1e00;
  padding: 15px;
}

.m-hot-btns span {
  padding-left: 10px;
}

.m-icon {
  fill: #ff1e00;
  height: 51px;
  padding-right: 1rem;
  width: 163px;
  /* height: 61.56244px;
  width: 246.69695px; */
}

.m-insert {
  background-color: rgba(221, 218, 218, 0.61);
}

.m-logo-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.m-logo-profile h1 {
  font-size: 56px;
  margin: 0;
  padding: 1rem;
}

.m-portrait {
  color: white;
  font-weight: 500;
  font-style: italic;

}

.m-portrait .flag {
  border-radius: 150%;
  height: 60px;
  margin: 0px 15px;
  opacity: 0.5;
}

.m-layover p {
  margin: 0;
  word-wrap: break-word;
  width: 100%;
}

.m-user-display {
  color: #ff1e00;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 1rem;
  width: 190px;
}

.m-user-display a {
  padding-left: 10px;
}


.fix-space {
  margin-top: 10px !important;
}

.starting-grid {
  border-left: 2px solid black;
  text-align: center;
  width: 98%;
}

.starting-grid tbody {
  text-align: center;
}

.starting-grid tbody tr:nth-child(odd) {
  background: #f4f4f4;
}

.starting-grid .limiter {
  display: none
}


/* ------------ States --------------  */

a.black:hover {
  color: #ee0202;
}

td:hover {
  color: #ee0202;
  cursor: default;
}

.m-hot-btns i:hover {
  color: #ee0202;
  cursor: pointer;
}

.m-layover:hover {
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.05);
}

.hide-for-desktop {
  display: none;
}

.white:hover {
  color: #ff1e00;
}

@media only screen and (max-width: 1124px) {
  .hide-for-desktop {
    display: contents;
  }

  .hide-for-tablet {
    display: none;
  }

  .m-hot-btns i {
    width: 160%;
  }
}

@media only screen and (max-width: 650px) {
  .hide-for-desktop {
    display: contents;
  }

  .hide-for-mobile {
    display: none;
  }

  .l-articles {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    margin: 0px;
  }

  .m-hot-btns {
    display: block;
  }

  .m-hot-btns i {
    padding: 15px 0 0 15px;
    width: 160%;
  }

  .m-portrait .flag {
    border-radius: 150%;
    height: 60px;
    width: 80px;
    margin: 0px 15px;
    opacity: 0.5;
  }

  .title {
    margin: 0;
    text-align: center;
  }
}


/* ------------ Themes --------------  */

.black {
  color: #171717;
}

.bold {
  font-weight: 700;
}

.dark {
  color: #4a4a4a;
}

.font {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}

.img-1 {
  background: url('../imgs/Vettel.png');
  background-position: center;
}

.img-2 {
  background: url('../imgs/Vettel Bahrain.png');
  background-position: center;
}

.img-3 {
  background: url('../imgs/Ricciardo Small.png');
  background-position: top;
}

.img-4 {
  background: url('../imgs/Hamilton.png');
  background-position: right;
}

.img-5 {
  background: url('../imgs/Hamilton 2.png');
  background-position: right;
}

.img-6 {
  background: url('../imgs/Ricciardo RB.png');
  background-position: right;
}

.img-7 {
  background: url('../imgs/Vettel Win.png');
  background-position: right;
}

.img-8 {
  background: url('../imgs/Bottas.png');
  background-position: top;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8 {
  background-size: cover;
}

.m-layover {
  background-color: rgba(23, 23, 23, 0.77);
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: white;
}

.red {
  color: #ee0202;
}






/* -------------
      Colors

      ___________

    Background Black: #171717;
    Dark Text: #4a4a4a;
    Ferrari Red: #ff1e00;
    Formula Red: #ee0202;
    Insert Color: rgba(221, 218, 218, 0.61);
    Layover color: rgba(233, 232, 218, 0.73);
    Table colors: #f4f4f4;
 */
